@charset "utf-8";

  /*Base style*/

body {

  font-family:'Noto Serif JP', 'Noto Sans JP', 'Literata', "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif , serif;
  

  font-size: 15px;
  line-height: 1.5;
  color: #333;
  background-color: #4b3c53;

}
main {
  width: 80vw;
  margin: 0 auto;
  color: #fff;
}

.container {
  min-height: 100vw;
  margin-top: 0;
  background-color: #555;
  background-image: url("https://github.com/46kabi/lambdaliveform.github.io/blob/main/ramudalive.png");
/*   https://drive.google.com/uc?id=1oF95aAqAYDRYq3BqVq5r-TRoXAkOjzI4 */
  /* assete/background/ramudalive.png */
  background-position: center top;
  background-size: 150%; 
  background-repeat: repeat;
  text-align: center;
}



.block {
  margin: 0;
  height: 100vw;

  
  
}


h1 {
  margin: 20px;
  padding: 200px 40px 0;
  font-size: 50px;
  color: #fff;
  border-bottom: 3px solid #ddd;
}


div {
  margin-top: 50px;
}

